
.bgBannerImg{
    /* background-image: url("https://education.ec.europa.eu/sites/default/files/styles/eac_ratio_16_9_xl/public/2021-12/language-learning-1200x675.jpg?h=c74750f6&itok=vmcKnhmg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
